.first {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 999;

}

.right {
    width: 51%;
}

.right ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    list-style-type: none;
}



.button {
    background-color: white;
    width: 120px;
    height: 40px;
    font-size: 20px;
    margin-top: 70px;
}

.right ul {
    margin-top: 73px;
}