<div class="container">

    <div class="first-content"> 
        <app-header></app-header>
        <div class="main">
            <p> I'm looking for.. </p>
            <div class="search">

                <input class="search-item " type="text" placeholder="Enter a job description">
                <button class="search-button"> Search</button>
                <br><br>
                <input type="checkbox"> &nbsp;
                <label>Full Time </label> &nbsp;
                <input type="checkbox"> &nbsp;
                <label>Part Time/ &nbsp;Casual / &nbsp;Freelance </label> &nbsp;


            <input class=" location" type="text" placeholder="select your location ">
            </div>
            <button (click)="openDialog()" class="register"> Register</button>
      
        </div>

     </div> 




    <div class="middle"><br><br> <br><br>
        <span class="leaders"> We're leaders in</span> <br> <br>
        <label class="digital"> Creative Digital Recruitment</label>
        <h1>______</h1>
        <p class="para"> Based in surry hills, the creative hub of Sydney we are surrounded by creativity <br>
            and that reflects on the type of jobs we recruit for.
        </p>
        <button class="find-more"> FIND OUT MORE ABOUT US</button>
    </div>



    <div class="subscribe">
        <p class="job"> Subscribe to our job Seeker Mailing List </p>
        <div>
            <button class="find-mores"> Enter email your email Address</button>
        </div>
    </div>


    <div class="header">
        <span> 
        <mat-icon>email</mat-icon>
        <input type="text">
     </span>

     <div class="right"> 
     <p> Copyright @ 2014 Two Bytes Consulting  <strong> Terms & Policies</strong> </p>
     <span class="icon-button"> 
     <button class="tweet"> Tweet  </button>&nbsp; 
     <button class="number"> 692</button>&nbsp; 
     <button  class="tweet"> Like</button>&nbsp; 
     <button class="number"> 117</button>&nbsp; 
    </span>
    </div> 

    </div>


</div>