<div class="container">

  <div class="border">
    <label> Register</label>

  </div>
  <br>
  <div class="profile-form">

    <span>
      <img class="avatar" src="../../../assets/image/avatar.jpg" alt=""><br>
      <label> Upload Your Photo</label>
    </span>

    <form [formGroup]="createForm">

      <div class="first-field">
        <span>
          <mat-form-field appearance="outline">
            <input formControlName="firstName" matInput type="text"   placeholder="First Name" required>

          </mat-form-field> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>

        <span>
          <mat-form-field appearance="outline">
            <input formControlName="lastName" matInput type="text" placeholder="Last Name" >
          </mat-form-field>
        </span>
      </div>

      <div>
        <mat-form-field class="forms" appearance="outline">
          <input formControlName="email" matInput type="text" placeholder="Email">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="forms" appearance="outline">
          <input formControlName="contactNumber" matInput type="number" placeholder="(541) 754-3010">
        </mat-form-field>
      </div>

      <div>

        <label>Age</label> &nbsp;
        <ngx-slider formControlName="age" [(value)]="value" [options]="options"></ngx-slider>
      </div>


      <div>
        <mat-form-field class="forms" appearance="outline">
          <mat-label>States</mat-label>
          <mat-select formControlName="state">
            <mat-option *ngFor="let states of stateList" [value]="states">
              {{states}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>

        <mat-form-field class="forms" appearance="outline">
          <mat-label>Country</mat-label>
          <mat-select formControlName="country">
            <mat-option *ngFor="let country of CountryList" [value]="country">
              {{country}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div>
        <mat-form-field class="forms" appearance="outline">
          <mat-label>Address</mat-label>
          <mat-select formControlName="address">
            <mat-option *ngFor="let addrs of selectAddress" [value]="addrs">
              {{addrs}}
            </mat-option>
          </mat-select>

        </mat-form-field>

         
        <div *ngIf="createForm.controls['address'].value === 'Home'" >
            <mat-form-field class="forms" appearance="outline">
              <input formControlName="AaddressOne" matInput type="text" placeholder="AaddressOne">
              
            </mat-form-field> 
    
            <mat-form-field class="forms" appearance="outline">
              <input formControlName="addresstwo" matInput type="text" placeholder="addresstwo">
            </mat-form-field> 
        </div>

        
        <div  *ngIf="createForm.controls['address'].value === 'Company'">
            <mat-form-field class="forms" appearance="outline">
              <input formControlName="AaddressOne" matInput type="text" placeholder="companyaddress1">
            </mat-form-field> 
        
            <mat-form-field class="forms" appearance="outline">
              <input formControlName="addresstwo" matInput type="text" placeholder="companyaddress2">
            </mat-form-field>
          
        </div>

      </div>


      <div> 
        <!-- <span *ngFor="let hobby of hobbies">{{hobby.tags}} </span> -->
        <mat-form-field class="forms" appearance="outline">
          <input  #box (keyup.enter)="onEnter(box.value)"  formControlName="tags" matInput type="text" placeholder="tags">
        </mat-form-field>
        <div class="tagss"> 
        <p class=" hobbis" *ngFor="let hobby of hobbies; index as i">{{hobby}} <mat-icon (click)="removeHobby(i)" matSuffix>close</mat-icon></p>
         </div>
      </div>

      <div>
        <input  type="checkbox"> &nbsp;
        <label>Subscribe to newsletter </label>
      </div>

      <div class="buttonss">
        <button class="button" mat-raised-button color="success" (click)="Cancel()"> Cancel</button>
        <button class="submit-button"    mat-raised-button color="primary" (click)="submit()"> Submit</button>
      </div>
    </form>
  
  </div>
</div>